
# Playwright
node_modules/
/test-results/
/example.spec.js/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# reports / artifacts
allure-report/
allure-results/
playwright-report/
test-results/
